.App {
  text-align: left;
}

aside {
	text-align: right;
	margin-right: 10vw;
}

.box{
	width: 70vw;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.form input {
	height: 2em;
}

.form label {
	font-size: 0.7em;
}
